@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html {
	font-size: 12px
}

body {
	font-size: 2rem;
	line-height: 3rem;
	margin: 0;
	font-family: Ubuntu Mono;
	word-wrap: break-word;
}

h1,
h2 {
	line-height: 3em
}

h3 {
	line-height: 2em;
}

a {
	cursor: pointer;
	color: #e69138;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #e69138
	color: #DA7E1B;
}

.portfolio,
.portfolio h1,
.portfolio h2,
.portfolio h3,
.portfolio strong {
	font-size: 2rem;
	font-style: normal;
	font-family: Ubuntu Mono
}

.portfolio h3 {
	font-size: 1.5rem;
}

.portfolio h1,
.portfolio h2,
.portfolio h3,
.portfolio header,
.portfolio li,
.portfolio p,
.portfolio strong,
.portfolio ul {
	float: none;
	margin: 0;
	padding: 0
}

.portfolio h1,
.portfolio p,
.portfolio strong,
.portfolio ul {
	margin-top: 20px;
	margin-bottom: 20px
}

.portfolio h1,
.portfolio strong {
	position: relative;
	display: inline-block;
	display: table-cell;
	padding: 20px 0 30px;
	margin: 0;
	overflow: hidden
}

.portfolio h1:after {
	content: "====================================================================================================";
	position: absolute;
	bottom: 10px;
	left: 0
}

.portfolio strong:after {
	content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
	position: absolute;
	bottom: 10px;
	left: 0
}

.portfolio strong {
	color: #e69138;
}

.portfolio h1+* {
	margin-top: 0
}

.portfolio h2, .portfolio h3 {
	position: relative;
	margin-bottom: 1.75rem
}

.portfolio h2:before {
	display: inline;
	content: "## ";
}

.portfolio h3:before {
	display: inline;
	content: "### ";
}

.portfolio li {
	position: relative;
	display: block;
	padding-left: 20px
}

.portfolio li:after {
	position: absolute;
	top: 0;
	left: 0
}

.portfolio ul>li:after {
	content: "-"
}

.container {
	max-width: 70rem
}

.container,
.container-fluid {
	margin: 0 auto;
	padding: 0 1rem
}

.colortheme {
	background-color: #f5e5d4;
}

.colortheme h1 a,
.colortheme h2 a,
.colortheme h3 a {
	color: #e69138;
}

.portfolio li ul {
	margin: 0;
}

.main {
	padding: 20px 10px;
}

a[itemprop="url"] {
	color: #e69138;
}

main {
	color: #777777;
}

h1, h2, h3 {
	color: #e48213;
}

a:link, a:visited {
	border-bottom: 0px
	color: #e06666;
	text-decoration: none;
	background-color: none;
}


a:hover {
	color: #e69138;
	border-bottom: 1px solid #e69138;
	color: #DA7E1B;
}

a[itemprop="url"]:hover {
	color: #e69138;
}

a[href*="//"]::after {
	content: " " url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ffffff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

a[href*="//"]:hover::after {
	content: " ";
}

.profile-pic {
	text-align: center;
	width: 250px;
	border: thin solid orange;
	color: white;
	margin: 25px;
	margin-left: auto ;
	margin-right: auto ;
}

.project-img {
	text-align: center;
	margin: 25px;
	margin-left: auto ;
	margin-right: auto ;
	border: thin solid orange;
	width: 300px;
	height: 300px;
}
